.body_button{
    margin: 0;
    padding: 0;
    color: #ddf;
    text-align: center;
  }
  .button_hola{
    font-family: 'Ubuntu';
    font-weight: 600;
    letter-spacing:1px;
    font-size: 10px;
    position: relative;
    padding: 0.3em 0.7em;
    margin: 0.5em;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
  }
  .button_hola:hover
  {
    border: 1px solid transparent;
    color: white;
    background-color:rgb(76, 0, 255) ;
  }
  .button_hola:active
  {
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
  }
  .colorSuccess{
    background-color: green;
  }
  .colorBadSucess{
    background-color: red;
  }